.modal-dialog{
    max-width: 800px !important;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto;
    }
}

#DataTables_Table_0_length{
    display: none;
}

#add-company-schedule-name {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

input.form-control {
    max-width: 100% !important;
    height: 35px;
}

.first-td {
    width: 70vmax;
}