
.modal-dialog{
    max-width: 800px !important;
}

.add-company-schedule-name {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

input.form-control {
    max-width: 100% !important;
    height: 35px;
}

.first-td {
    width: 70vmax;
}

.first-td a {
    color: #212529;
    width: 100%;
    height: 100%;
}

.staff-4-row {
    display: flex;
    align-items: center;
}

.is-outsource-checkbox[type=checkbox]:checked {
    border-color: blue;
}

.progress {
    height: 3px !important;
}

.progress span {
    font-size: 16px !important;
    font-weight: 500 !important;
}