{% extends 'backoffice/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load app_tags %}
{% block title %}
{% translate "To'lov bo'limi" %}
{% endblock %}

{#zmdi-hc-spin#}


{% block content %}
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>{% translate "Bosh sahifa" %}</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i class="zmdi zmdi-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active">{% translate "To'lov" %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">

                    </div>
                    <div class="body">
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% blocktranslate %}{{ message }}{% endblocktranslate %}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if initial %}
                            {% if need_to_pay %}
                                <h4>{% blocktranslate %}To'lov miqdori {{monthly_amount}} so'mni tashkil etadi, to'lov muddati {{request.user.company.payment_expire_data|date:"d.m.Y"}} da tugagan {% endblocktranslate %}</h4>
                                <form action="{% url 'payme' %}" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-success">{% translate "To'lash" %}</button>
                                </form>
                            {% else %}
                                <h4>{% blocktranslate %}Siz hozirda to'lovni amalga oshirgansiz, keyingi to'lov muddati {{request.user.company.payment_expire_date|date:"d.m.Y"}}{% endblocktranslate %}</h4>
                            {% endif %}
                        {% else %}
                            <h4>{% blocktranslate %} Siz hali to'lov amalga oshirmagansiz, to'lov miqdori {{amount}} so'mni tashkil etadi {% endblocktranslate %}</h4>
                            <form action="{% url 'payme' %}" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-success">{% translate "To'lash" %}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}