{% extends 'backoffice/base.html' %}
{% load static %}

{% load app_tags %}

{% block title %}
Hodim Adaptatsiyasi
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'backoffice/assets/css/add_training.css' %}">
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>Hodim Adaptatsiyasi</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i
                                class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">
                            <a href="{% url 'training_info' %}">Hodim Adaptatsiyasi</a></li>
                        <li class="breadcrumb-item active">Trening yaratish</li>
                    </ul>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="text-center btn btn-success rounded-lg w-100 btn-{{ message.tags }} messages">
                        <p class="text-center">{{ message|safe }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <h3>
                        Trening yaratish
                    </h3>
                </div>
                <div class="body">
                    <form action="{% url 'training_info_create' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="training-list">
                            <div class="training-item">
                                <label>Lavozim</label>
                                <select class="form-select">
                                    <option value="1">1</option>
                                    <option value="1">1</option>
                                    <option value="1">1</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="training-item">
                                <label>Title</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="training-item">
                                <label>Fayl yuklash</label>
                                <div class="row file-upload-row">
                                    <div class="col">
                                        <label class="custom-file-upload">
                                            <input type="file" accept="video/mp4,video/x-m4v,video/*" multiple
                                                   id="video-files"/>
                                            Video
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="custom-file-upload">
                                            URL
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="custom-file-upload">
                                            <input type="file" accept="application/pdf,application/vnd.ms-excel"
                                                   multiple/>
                                            PDF
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="training-item">
                                <div class="row video-items">

                                </div>
                            </div>
                            <div class="training-item">
                                <div class="row url-items">

                                </div>
                            </div>
                            <div class="training-item">
                                <div class="row file-items">

                                </div>
                            </div>

                            <div class="training-item">
                                <textarea placeholder="Matn kiriting" rows="10"></textarea>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-info" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
        $(document).ready(function () {
            var maxField = 50;
            var addButton = $('.add_button');
            var wrapper = $('.field_wrapper');
            var x = 1;

            $(addButton).click(function () {
                var fieldHTML = '<div class="mt-3">' +
                    '<label class="text-dark" for="explicit-label-name' + (x + 1) + '">Savol-' + (x + 1) + ': </label>' +
                    '<input type="text" id="explicit-label-name' + (x + 1) + '" name="field_name" class="form-control" value="" required/>' +
                    '<a href="javascript:void(0);" class="remove_button m-l-5">' +
                    '<i class="zmdi zmdi-minus"></i>' +
                    '</a>' +
                    '</div>'; //New input field html
                if (x < maxField) {
                    x++; //Increment field counter
                    $(wrapper).append(fieldHTML); //Add field html
                }
            });

            //Once remove button is clicked
            $(wrapper).on('click', '.remove_button', function (e) {
                e.preventDefault();
                $(this).parent('div').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });

</script>

<script>
    $(document).ready(function() {
        console.log('salom');
        console.log($('#video-files').prop('files'));
    });

</script>
{% endblock %}