{% extends 'backoffice/base.html' %}
{% load i18n %}
{% block title %}
{% blocktranslate %}{{ item.name }} - Info {% endblocktranslate %}
{% endblock %}

{#zmdi-hc-spin#}
{% block content %}
<section class="content">
    <div class="container-fluid">

        <!-- Disabled Items -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <ul class="list-unstyled">
                            <li>
                                <a href="">{% translate "Info" %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="list-group">
                            <h1 class="text-center"> {% blocktranslate %} {{ item.name }} {% endblocktranslate %}</h1>
                            {% if company.company.text %}
                            {% blocktranslate %}{{ company.company.text|safe }}{% endblocktranslate %}
                            {% else %}
                           {% translate "Ma'lumot yo'q" %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Disabled Items -->
        <!-- Disabled Items -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{% translate "Nomi:" %} </strong>{% blocktranslate %}{{ item.name }}{% endblocktranslate %}</li>
                            <li class="list-group-item"><strong>{% translate "Telefon raqami:" %} </strong>{% blocktranslate %}{{ item.phone }}{% endblocktranslate %}</li>
                            <li class="list-group-item"><strong>{% translate "Turi:" %} </strong>{% blocktranslate %}{{ item.type.name }}{% endblocktranslate %}</li>
                            <li class="list-group-item"><strong>{% translate "Manzili:" %} </strong>{% if item.address %}
                                {% blocktranslate %}{{ item.address }} {% endblocktranslate %} {% else %}{% translate "Manzil kiritilmagan" %}{% endif %} </li>
                            <li class="list-group-item"><strong>{% translate "Asoschisi:" %} </strong>{% if item.creator %}
                                {% blocktranslate %}{{ item.creator }}{% endblocktranslate %}{% else %}{% translate "Asoschi kiritilmagan" %}{% endif %}</li>
                            <li class="list-group-item"><strong>{% translate "Ishchilar soni:" %} </strong>
                                {% blocktranslate %}{{ item.amount_of_staff }} {% endblocktranslate %} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Disabled Items -->

    </div>
</section>
{% endblock %}