{% extends 'app/base.html' %}

{% load static %}
{% load mptt_tags %}
{% block title %}
Login
{% endblock %}
{% block css %}
<link rel="stylesheet" media="screen, projection" href="{% static 'mptt_graph/tree.css' %}" />
{% endblock %}
{% block content %}
<section class="">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="card">
                        <div class="header">
                            <h2 class="text-center">{{ staff.company.name }}</h2>
                        </div>
                        <div class="body" style="background: url({% static 'defaults/1.png' %})">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex justify-content-between">
                                        <p style="color: white"><strong>Maosh:</strong> {{ salary.amount }} so'm</p>
                                        <img src="{{ staff.qr_code.url }}" style="width: 100px;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-12 align-center">
                                    <img class="media-object items-center" src="{{ staff.image.url }}"
                                        style="width: 210px;height: 210px; border-radius: 50%" alt="">
                                    <h3 class="media-heading bolder" style="color: white">{{ staff.first_name }}
                                        {{ staff.last_name }}</h3>
                                    <p style="color: white">
                                        <strong>Department:</strong> {{ staff.department.name }}
                                    </p>
                                    <p style="color: white"><strong>Position:</strong> {{ staff.position.name }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <ul class="header-dropdown">
                            <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i
                                        class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);" class="boxs-close">Hide</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" id="training-btn"
                                    href="#training_info">Training</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile">Kompaniya
                                    madaniyati</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane in" id="training_info"><b></b>
                                <h2 class="text-center">{{ training_info.title }}</h2>
                                <h4 class="text-center">{{ training_info.company.name }}</h4>
                                <div>
                                    {{ training_info.info|safe }}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <h2 class="text-center">{{ company_culture.title }}</h2>
                                <div>
                                    {{ company_culture.text|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="display: none; visibility: hidden;" id="training-table">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <ul class="header-dropdown">
                            <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i
                                        class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);" class="boxs-close">Hide</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <table class="table table-borderless table-striped table-hover" id="training_info">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Training</th>
                                    <th>Lavozimi</th>
                                    <th>Qo'yilgan sana</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in test %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <a href="#0" id="{{ item.id }}" onclick="select_test(this.id)">
                                            {{ item.title}}
                                        </a>
                                    </td>
                                    <td>
                                        {{ item.position }}
                                    </td>
                                    <td>
                                        {{ item.create_at }}
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="display: none; visibility: hidden;" id="training-form">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <div class="card">
                    <div class="header">
                        <ul class="header-dropdown">
                            <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i
                                        class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);" class="boxs-close">Hide</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <!-- <h3>Savollar</h3> -->
                        <div class="row" id="videos">

                        </div>
                        <div class="row" id="video-youtube">

                        </div>
                        <div class="row" id="files">
                            
                        </div>
                        <form action="{% url 'staff_training' staff.training_url %}" method="post">
                            {% csrf_token %}

                            <div id="questions">
                                <div>
                                    <label>1. savol</label>
                                    <input type="text" class="form-control" name="answer">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success waves-effect btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var maxField = 50;
        var addButton = $('.add_button');
        var wrapper = $('.field_wrapper');
        var x = 1; //Initial field counter is 1


        //Once add button is clicked
        $(addButton).click(function () {
            //Check maximum number of input fields
            var fieldHTML = '<div class="mt-3">' +
                '<label for="explicit-label-name' + (x + 1) + '">Savol-' + (x + 1) + ': </label>' +
                '<input type="text" id="explicit-label-name' + (x + 1) + '" name="field_name" value="" class="form-control" required/>' +
                '<a href="javascript:void(0);" class="remove_button m-l-5 btn btn-neutral">' +
                '<i class="zmdi zmdi-minus"></i>' +
                '</a>' +
                '</div>';
            if (x < maxField) {
                x++;
                $(wrapper).append(fieldHTML);
            }
        });


        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        });
    });

</script>
{% endblock %}

{% block js %}
<script src="{% static 'js/test_axios.js' %}"></script>

<script src="{% static 'backoffice/assets/plugins/nestable/jquery.nestable.js' %}"></script>
<script>

</script>
{% endblock %}w