{% extends 'backoffice/base.html' %}
{% load i18n %}
{% block title %}
{% translate "Sozlamalar" %}
{% endblock %}


{% block content %}
    <section class="content">
        <div class="container-fluid">

            <!-- Disabled Items -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><i class="zmdi zmdi-settings zmdi-hc-spin"></i>{% translate "Sozlamar" %}</h2>
                        </div>
                        <div class="body">
                            <div class="list-group">
                                <a href="{% url 'bot_c_l' %}" class="list-group-item">{% translate "Bot qo'shish" %}</a>
                                <a href="{% url 'admin_bot' %}" class="list-group-item">{% translate "Bot Admin" %}</a>
                                <a href="{% url 'entry_text' %}" class="list-group-item">{% translate "Bot kirish qismi texti" %}</a>
                                <a href="javascript:void(0);" class="list-group-item">{% translate "Bot so'ngi qismi texti" %}</a>
                                <a href="javascript:void(0);" class="list-group-item">{% translate "Kompaniya haqida info" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Disabled Items -->
        </div>
    </section>
{% endblock %}