{% extends 'backoffice/base.html' %}


{% block title %}
{% translate "Xodimlar" %}
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>{% translate "Xodimlar" %}</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice-main' %}"><i class="zmdi zmdi-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">{% translate "Xodimlar" %} </li>
                    </ul>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="text-center btn btn-success rounded-lg w-100 btn-{{ message.tags }} messages">
                        <p class="text-center">{% translate "{{ message|safe }}" %}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <a href="{% url 'staff_create' %}" class="btn btn-success">{% translate "Hodim yaratish" %} <i
                                class="zmdi zmdi-plus"></i></a>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-striped table-hover" id="example_1">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% translate "To'liq ismi" %}</th>
                                    <th>{% translate "Ish boshlagan sana" %}</th>
                                    <th>{% translate "Bo'lim" %}</th>
                                    <th>{% translate "Lavozim" %}</th>
                                    <th>{% translate "Outsource" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for staff in staffs %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'staff-detail' staff.pk %}">{% blocktranslate %}{{ staff.first_name }}
                                        {{ staff.second_name }} {{ staff.last_name }}{% endblocktranslate %}</a></td>
                                    <td>{{ staff.birth_date }}</td>
                                    <td>{{ staff.department }}</td>
                                    <td>{{ staff.position}}</td>
                                    {% if staff.is_outsource %}
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                             width="24px" fill="#000000">
                                            <path d="M0 0h24v24H0V0z" fill="none"/>
                                            <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/>
                                        </svg>
                                    </td>
                                    {% else %}
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                             width="24px" fill="#000000">
                                            <path d="M0 0h24v24H0V0z" fill="none"/>
                                            <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                                        </svg>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% for item in staffs %}
<div class="modal fade" id="staff-{{ item.id }}" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="header">
                        <h2>{% translate "O'chirmoqchimisiz?" %}</h2>
                    </div>
                    <div class="body d-flex justify-content-around">
                        <button type="button" class="btn btn-success rounded-lg waves-effect" data-dismiss="modal">{% translate "Bekor
                            qilish" %}
                        </button>
                        <form action="{% url 'staff_delete' pk=item.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger rounded-lg waves-effect">{% translate "O'chirish" %}</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}


{% block js %}
<script>
        $(function () {
            $('#example_1').DataTable({
                 "dom":' <"search"f><"top"l>rt<"bottom"ip><"clear">',
                 paging: true,
                 autoWidth: true,
                 orderCellsTop: true,
                 fixedHeader: true,
                 buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "columnDefs": [
                    { type: "num", targets: 0 },
                    { type: "phoneNumber", targets: 1 },
                    { type: "phoneNumber", targets: 2 },
                    { type: "phoneNumber", targets: 3 },
                    { type: "phoneNumber", targets: 4 },
                    { type: "phoneNumber", targets: 5 },
                ],
                "oLanguage": {
                    "sEmptyTable": "Ro'yxat bo'sh",
                    "sSearch": "Qidiruv:",
                    "sLengthMenu": "Ko’rsatkich _MENU_ talik",
                    "sInfo": "Sahifa _START_ dan _END_ gacha, umumiy _TOTAL_",
                    "oPaginate": {
                        "sFirst": "Birinchi sahifa", // This is the link to the first page
                        "sPrevious": "Oldingi sahifa", // This is the link to the previous page
                        "sNext": "Keyengi sahifa", // This is the link to the next page
                        "sLast": "Oxirgi sahifa" // This is the link to the last page
                    }

                },
            });
        })



</script>
<script>
        setTimeout(fade_out, 3000);
        function fade_out() {
            $(".messages").fadeOut().empty();
        }



</script>

{% endblock %}